<html lang="en">
  <%- include('partials/header') %>
  <body>
    <a-scene vr-mode-ui="enabled: false" renderer='antialias: true; alpha:true'
        arjs='videoTexture: true; sourceType: webcam; debugUIEnabled: false'>
        <a-camera id='camera1' near="0.1" far="50000" fov="80"
            gps-camera='simulateLatitude: 51.049; simulateLongitude: -0.723'
            rotation-reader vertical-controls wasd-controls="acceleration: 1300">
        </a-camera>

        
        <a-box gps-entity-place='latitude: -34.7779384; longitude: -58.4050859' material='color: yellow'
            position='0 90 0' scale='10 10 10'>
        </a-box>
    </a-scene>
</body>
</html>
