<html lang="en">
  <%- include('partials/header') %>
  <body style='margin : 0px; overflow: hidden;'>
    
    <div class="arjs-loader">
        <div>Loading, please wait...</div>
        </div>
        <a-scene
            vr-mode-ui='enabled: false;'
            renderer="logarithmicDepthBuffer: true;"
            embedded arjs='trackingMethod: best; sourceType: webcam; debugUIEnabled: true;'>
            
            <a-nft
                type='nft' url='assets/markers/batman/batman'
                smooth='true' smoothCount='10' smoothTolerance='5.01' smoothThreshold='1'>
                <a-entity
                    gltf-model='assets/models/arjs/pivot3d.glb'
                    scale="25 25 25"
                    position="120 0 -150"
                    >
                </a-entity>
                <a-entity
                    gltf-model='assets/models/arjs/objetoEjemplo.glb'
                    scale="25 25 25"
                    position="120 0 -150"
                    >
                </a-entity>
            </a-nft>
            <a-entity camera></a-entity>
        </a-scene>

  </body>
</html>
