<html lang="en">
  <%- include('partials/header') %>
  <body>
    <a-scene vr-mode-ui="enabled: false" renderer='antialias: true; alpha:true'
        arjs='videoTexture: true; sourceType: webcam; debugUIEnabled: false'>
        <a-camera gps-camera-position gps-camera-rotation gps-camera rotation-reader>
            <a-cursor></a-cursor>
        </a-camera>
        
        <% for(var i=0; i< locations.length;i++){ %>
            
            <a-entity class="refresh-button" look-at="[gps-camera]" scale="50 50 50" gps-entity-place="latitude: <%= locations[i].lat %>; longitude: <%= locations[i].lon %>;"><a-text font="kelsonsans" value="<%= locations[i].text %>" width="6"></a-text></a>

        <% } %>
        
    
    </a-scene>
    
    <script>
        let buttons = document.querySelectorAll('.refresh-button');

        for (let i = 0; i < buttons.length; i++) {

            console.log("asdasdasdasd");

            buttons[i].addEventListener("click", function() {                
                alert("asdasdasas");
            });
        }
        
    </Script>
</body>
</html>
