<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main role="main">
      <div class="container">
        <a href="/model-viewer">Model Viewer</a>
        <a href="/arjs-nft-marker">AR JS Marker</a>
        <a href="/arjs-location">AR JS Location</a>
        <a href="/simple-marker">AR JS Simple Marker</a>
      </div>
    <%- include('partials/footer') %>
    </main>
  </body>
</html>
