<html>
  <%- include('partials/header') %>
  <body>
    <% for(var i=0; i< products.length;i++){ %> <%-
    include('models',{product:products[i]}) %> <% } %> <%-
    include('partials/footer') %>

  </body>
</html>
