<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main role="main">
      <div class="container">
        <a href="/model-viewer">Model Viewer</a><br>
        <a href="/aframe-arjs-nft-marker">AFrame AR JS Marker</a><br>
        <a href="/aframe-arjs-location">AFrame AR JS Location</a><br>
        <a href="/aframe-simple-marker">AFrame AR JS Simple Marker</a><br>
      </div>
    <%- include('partials/footer') %>
    </main>
  </body>
</html>
