<html lang="en">
  <%- include('partials/header') %>
  <body>
    <main role="main">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item"><a href="/model-viewer">Model Viewer</a></li>
          <li class="list-group-item"><a href="/aframe-arjs-nft-marker">AFrame AR JS Marker</a></li>
          <li class="list-group-item"><a href="/aframe-arjs-location">AFrame AR JS Location</a></li>
          <li class="list-group-item"><a href="/aframe-simple-marker">AFrame AR JS Simple Marker</a></li>
        </ul>
      </div>
    <%- include('partials/footer') %>
    </main>
  </body>
</html>
