<div class="col-md-4">
  <div class="card" style="border: none; box-shadow: none!important; border-radius:0px;">
    <div class="card-body">
        <model-viewer 
        class="model" src=<%="./assets/models/glb/" + product.modelAndroid %>
        ios-src=<%="./assets/models/usdz/" + product.modelIos %> 
        auto-rotate camera-controls
        ar
        shadow-intensity="5.7" shadow-softness="0.78"
        ar-scale="auto"
        environment-image="./assets/hdr/aircraft_workshop_01_1k.hdr"
        poster=<%="./assets/thumbnails/" + product.thumbnail %> 
        >
        <button
          slot="ar-button"
          class="btn btn-lg btn-block btn-primary"
          style="position: absolute; bottom: 0px;"
        >
          VER EN AR
        </button>
      </model-viewer>
    </div>

    
    
  </div>
</div>  